@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  color: #333;
  line-height: 1;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
  /* 가로스크롤바 없애기 */
}
ul,ol,li{
  list-style: none;
}
img{
  width: 100%;
}
/* common :e */
.mobile{
  display: none;
}

/* 메인메뉴 시작 */
/* header */
header .inner{
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}
header .inner .hd_top{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;  
  font-family: 'Pretendard-Regular';
}
header .inner .hd_top li{
  margin-left: 20px;
  position: relative;
}
header .inner .hd_top li::before{
  content: '';
  width: 1px;
  height: 10px;
  background-color: #bbb;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
header .inner .hd_top li:first-child::before{
  display: none;
}
header .inner .hd_bottom{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .hd_bottom h1{
  width: 180px;
}
header .inner .hd_bottom h1 a img{
  height: 40px;
}
header .inner .hd_bottom .pc{
  /* width: calc(100% - 200px); */
  height: 100%;
}
header .inner .hd_bottom .pc .gnb{
  height: 100%;
}
header .inner .hd_bottom .pc .gnb .depth01{
  display: inline-block;
  position: relative;
  padding: 0 30px;
  height: 100%;
  line-height: 70px;
}
header .inner .hd_bottom .pc .gnb .depth01 .depth02{
  position: absolute;
  top: 70px;
  left: 50%;
  width: 150px;
  text-align: center;
  transform: translateX(-50%);

  background: #fff;
  display: none;
  z-index: 999;
}
header .inner .hd_bottom .pc .gnb .depth01:hover .depth02{
  display: block;
}
header .inner .hd_bottom .pc .gnb .depth01 .depth02 li{
  padding: 10px;
  line-height: 1.5;
}
/* 메인메뉴 끝 */

/* 메인비주얼 시작 */
.main_visual{  
  height: 100vh;
  position: relative;
}
.main_visual div{
max-width: 1600px;
width: 95%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.main_visual div h2{
  font-size: 50px;
  margin-bottom: 10px;
}
.main_visual div p{
  font-size: 25px;
  margin-bottom: 10px;
}
.main_visual div a{
  display: block;
  width: 150px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 40px;
  text-align: center;
  line-height: 45px;
  margin-top: 100px;
}
.main_visual img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 메인비주얼 끝 */

/* best */
.best{
  max-width: 1600px;
  width: 95%;
  margin: 150px auto;
  position: relative;
}
.best>a{
  display: block;
  width: 140px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 40px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 0;
  right: 0;
}
.best h3{
  font-size: 50px;
  margin: 50px 0 40px;
  padding-top: 50px;
  color: #990707;
}
.best .best_menu{
  display: flex;
  justify-content: flex-end;  
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.best .best_menu li{
  margin-left: 30px;
}
.best .best_menu li:first-child{
  color: #990707;
  font-weight: 700;
}
.best .list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.best .list .item{
  width: calc(100% / 4 - 10px);
}
.best .list .item figure{
  width: 100%;
  height: 30vw;
}
.best .list .item figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.best .list .item .text h4{
  font-size: 20px;
  margin: 20px 0 30px;
}
.best .list .item .text .price{
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.best .list .item .text .price p{
  color: #838383;
  text-decoration: line-through;
}
.best .list .item .text .price span{
  color: #990707;
  font-weight: 700;
  margin-right: 10px;
}
/* .best :e */

/* .slide_text 텍스트애니메이션 :s */
.slide_text{
  background: #990707;
  color: #fff;
  padding: 20px 0;
  overflow-x: hidden;
}
.slide_text ul{  
  white-space: nowrap;
  /* 텍스트 한줄로 만들어 줌 */
  /* 애니메이션 : 이름 시간 횟수 속도 */
  animation: slideText 60s infinite linear;
}
@keyframes slideText{
  0%{
    transform: translateX(0);
  } /* 시작되는시점 */
  100%{
    transform: translateX(-100%);
  } /* 끝나는시점 */
}
.slide_text ul li{
  display: inline-block;  
}
/* .slide_text  텍스트애니메이션 :e */

/* .brand pc :s */
.brand{
  margin: 150px 0;
}
.brand .inner{
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.brand .inner .title{
  width: 500px;
}
.brand .inner .title h3{
  font-size: 50px;  
}
.brand .inner .title p{
  font-size: 30px;
  margin: 50px 0 100px;
}
.brand .inner .title a{
  display: block;
  width: 140px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 16px;
  /* text-align: center;
  line-height: 45px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand .inner .list{
  width: calc(100% - 500px);
  display: flex;
  justify-content: space-between;
}
.brand .inner .list .item{
  width: calc(100% / 2 - 10px);
  height: 395px;
  position: relative;
}
.brand .inner .list .item figure{
  width: 100%;
  height: 100%;
}
.brand .inner .list .item figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand .inner .list .item div{
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.brand .inner .list .item div h4{
  font-size: 30px;
  margin-bottom: 20px;
}
footer{  
  background: #990707;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}
/* .brand pc :e */


@media all and (max-width:1280px){
  .brand .inner .title{
    width: 250px;
  }
  .brand .inner .list{
    width: calc(100% - 250px);
  }
} /* max-width:1280px :e */

/* header, .main_visual, .best에 대한 미디어쿼리 */
@media all and (max-width:1024px){
  header .pc{display: none;}
  header i.mobile{
    display: block;
    font-size: 40px;
    color: #990707;
  }
  header i.mobile span{
    position: absolute;
    left: -99999px;
  }
  .best{
    margin: 100px auto;
  }
  .best .list .item figure{
    height: 250px;
  }
  .best .list .item .text h4{
    height: 50px;
  }
  .brand{
    margin: 100px 0;
  }
  .brand .inner{
    display: block;
  }
  .brand .inner .title{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  .brand .inner .title h3{
    font-size: 30px;
  }
  .brand .inner .title p{
    margin: 25px 0 0;
    font-size: 16px;
  }
  .brand .inner .title p br{
    display: none;
  }
  .brand .inner .list{
    width: 100%;
  }
  .brand .inner .list .item{
    width: calc(100% / 2 - 5px);
    height: 50vw;
  }
  .brand .inner .list .item div{
    left: 20px;
    bottom: 20px;
  }
  .brand .inner .list .item div h4{
    font-size: 22px;
    margin-bottom: 10px;
  }
} /* max-width:1024px :e */

@media all and (max-width:767px){
  header .inner .hd_top{
    height: 30px;
    font-size: 13px;
  }
  header .inner .hd_bottom{
    height: 50px;
  }
  header .inner .hd_bottom h1 a img{
    height: 25px;
  }
  .main_visual div{
    text-align: center;
  }
  .main_visual div h2{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .main_visual div p{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .main_visual div a{
    margin: 50px auto;
    color: #fff;
    background: #333;
  }
  .best{
    margin: 60px auto;
  }
  .best>a{
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .best h3{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .best .best_menu{
    justify-content: flex-start;
  }
  .best .best_menu li{
    margin-left: 0;
    margin-right: 20px;
  }
  .best .list .item{
    width: calc(100% / 2 - 5px);
  }
  /* .best .list .item:nth-child(2) + .item{
    display: none;
  } */
  /* + 바로뒤에 오는 아이템만(형제선택자)
  ~ 뒤에 오는 아이템들(형제선택자) */
  .best .list .item:nth-child(2) ~ .item{
    display: none;
  }
  .best .list .item figure{
    height: 50vw;
  }
  /* vw -> 브라우저 너비 반응
  vh -> 브라우저 높이 반응 */
} /* max-width:767px :e */

@media all and (max-width:414px){
  .main_visual div h2{
    font-size: 30px;
  }
  .best h3{
    font-size: 30px;
  }
  .best .best_menu li{
    font-size: 14px;
  }
  .best .list .item .text h4{
    font-size: 16px;
    height: auto;
    margin: 10px 0 20px;
  }
  .best .list .item .text .price{
    font-size: 16px;
  }
  .brand .inner .list{
    flex-wrap: wrap;
    /* display: block; */
  }
  .brand .inner .list .item{
    width: 100%;   
    margin-bottom: 15px;
  }
  .brand .inner .list .item div h4{
    font-size: 18px;
  }
} /* max-width:414px :e */